*, 
*::before, 
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

:root {
    --card-radius: 10px;
}

body {
    font-family: "Sora", sans-serif;
    line-height: 1.5rem;
    background-color: #FAFAF9;
}

.card {
    width: 370px;
    padding: 16px 16px 20px 16px;
    border-radius: var(--card-radius);
    background-color: #fff;
    margin: 164px auto 0 auto;
    box-shadow: 10px 10px 25px 0px #E5EAF0;
}

.card>img {
    width: 100%;
    border-radius: var(--card-radius);
}

.card p {
    color: #6C727F;
}

.card-tag {
    font-size: 0.625rem;
    /* font-weight: 600; */
    padding: 6px 16px;
    background-color: #E6D6FC;
    border-radius: 15px;
    color: #883AE1;
}

.card-title {
    font-size: 1.125rem;
    margin-top: 16px;
    color: #20293A;
}

.card-body {
    font-size: 0.875rem;
    margin-top: 6px;
    padding-bottom: 20px;
}

.card-small-text {
    font-size: 0.75rem;
    border-top: 1px solid #E5EAF0;
}