:root {
    --clr-night: hsl(40, 7%, 8%);
    --clr-night-o-95: hsla(40, 7%, 8%, 0.85);
    --clr-night-o-99: hsla(40, 7%, 8%, 0.95);
    --clr-engineering-orange: hsl(354, 99%, 38%);
    --clr-dim-gray: hsl(202, 4%, 44%);
    --clr-ash-gray: hsl(176, 15%, 81%);
    --clr-ghost-white: hsl(248, 25%, 94%);
    --clr-blue-400: hsl(225, 76%, 55%);
    --clr-blue-500: hsl(225, 76%, 40%);
    /* --clr-blue-500: hsl(217, 83%, 72%); */

    --text-base: 1rem;
    --text-xs: calc(var(--text-base) * 0.75);
    --text-sm: calc(var(--text-base) * 0.875);
    --text-md: calc(var(--text-base) * 1.25);
}

/* reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}

/* utilities */
.bg-dark {
    background-color: var(--clr-night-o-99) !important;
}

.hidden {
    display: none !important;
}

.active {
    /* border-radius: .75rem; */
    /* background-color: var(--clr-ghost-white) !important; */
    /* color: var(--clr-night) !important; */
    color: var(--clr-ghost-white) !important;
    transition: color 500ms ease-in;
}

.popover {
    width: max-content;
    position: absolute;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--clr-ghost-white);
    font-weight: 400;
    color: var(--clr-night);
    box-shadow: 3px 3px 10px var(--clr-night);
    z-index: 2;
    transition: opacity 200ms ease-in;
}

/* main */
html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-self: center;
    line-height: 1.5;
    height: 100vh;
    background: url('../assets/images/bg_languages.jpg') center center no-repeat;
    background-size: max(100%, 1280px) 200%;
    background-color: var(--bg-main);
    font-family: 'DM Sans', sans-serif;
}

.container {
    width: 1280px;
    height: 100%;
    margin-inline: auto;
    padding-inline: 4.5rem;
}

header {
    display: grid;
    place-content: center;
    height: 10rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0;
    position: relative;
    border-radius: 1.5rem;
    overflow: hidden;
}

.translate-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.translate-container--body {
    flex-wrap: wrap;
    gap: 3rem;
}

.translate-panel,
.translate-header {
    background-color: var(--clr-night-o-95);
}

.translate-panel {
    width: calc(50% - 3rem / 2);
    padding: 0 1rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

/* Translate header */
.translate-header {
    display: flex;
    width: calc(50% - 1.5rem);
    padding: 1rem 1rem 0.5rem 1rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.overflow {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 0.5rem;
}

.overflow div {
    display: flex;
    align-items: center;
    width: max-content;
}

.menu-btn {
    min-width: max-content;
    padding: .375rem .75rem;
    border: none;
    background: none;
    color: var(--clr-ash-gray);
    font-size: var(--text-sm);
    font-weight: 600;
}

.menu-btn:hover,
.menu-btn:focus-visible {
    color: var(--clr-ghost-white);
}

.menu-btn.active:hover,
.menu-btn.active:focus-visible {
    color: var(--clr-night);
}

.menu-btn--switch {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    padding: 0;
    border-radius: .5rem;
    background: linear-gradient(0deg, var(--clr-night), var(--clr-engineering-orange));
}

.menu-btn--switch:hover,
.menu-btn--switch:focus-visible {
    color: var(--clr-ghost-white);
}

.custom-select {
    display: flex;
    cursor: pointer;
}

.menu-btn--expand {
    display: inline-grid;
    place-content: center;
    width: 2rem;
    padding: 0;
    border-radius: 50%;
    transition: transform 250ms;
}

.menu-btn--expand:hover {
    background-color: var(--clr-dim-gray);
}

.selected~.menu-btn--expand,
.menu-btn--expand.selected {
    transform: rotate(-180deg);
}

.more-btn {
    padding: 0;
}

.dropdown-group {
    display: none;
    width: 100%;
    height: calc(100% - 3.5rem);
    padding-bottom: 0.75rem;
    position: absolute;
    top: 3.5rem;
    left: 0;
    z-index: 2;
    border: 1px solid var(--clr-night-o-95);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    background-color: var(--clr-ghost-white);
    color: var(--clr-night);
    overflow: hidden;
}

.dropdown-group.open {
    display: block;
}

.search-dropdown {
    width: 100%;
    padding: 0.5rem 2rem;
    border: 0;
    border-bottom: 1px solid var(--clr-ash-gray);
    color: var(--clr-night);
}

.search-dropdown:focus-visible {
    outline: none;
    box-shadow: 0 0 5px var(--clr-night);
}

.dropdown {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, 30px);
    height: calc(100% - 2.7rem);
    padding: 0.5rem 1.5rem;
    overflow: auto;
    user-select: none;
    border: 1px solid var(--bg-selected-language);
    background-color: var(--bg-translate-from);

}

.dropdown>li {
    cursor: pointer;
    user-select: none;
    padding: 0.25rem 0.5rem;
    font-size: var(--text-sm);
    font-weight: 600;
    color: var(--clr-night);
}

.custom-option:first-child {
    display: none;
}

.dropdown>li:hover,
.dropdown>li:focus-visible {
    background-color: var(--clr-dim-gray);
    color: var(--clr-ghost-white);
}

.search-dropdown:not(:placeholder-shown)~.dropdown {
    grid-template-columns: 1fr;
}

.select:focus-visible {
    color: var(--clr-ghost-white);
}

/* Translate body */
.translate-body {
    position: relative;
    border-top: 1px solid var(--clr-dim-gray);
}

.translate-text {
    width: 100%;
    height: 15rem;
    padding: 0.75rem 2.5rem 0.75rem 0.25rem;
    border: none;
    background-color: transparent;
    resize: none;
    font-size: var(--text-md);
    color: var(--clr-ghost-white);
}

.translate-text:focus-visible {
    outline: none;
}

.btn--clear {
    width: 2rem;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 5%;
    right: 0;
    border: 0;
    border-radius: 50%;
    background-color: transparent;
    color: var(--clr-ghost-white);
    transition: background-color 250ms ease-in;
}

.btn--clear:hover,
.btn--clear:focus-visible {
    background-color: var(--clr-engineering-orange);
}

.character-count {
    position: absolute;
    right: 0;
    bottom: 0.5rem;
    font-size: var(--text-xs);
    color: var(--clr-ash-gray);
}

/* Translate footer */
.translate-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    margin-bottom: 1.25rem;
}

.controls {
    display: flex;
    align-self: flex-end;
    gap: .5rem;
}

.controls-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.25rem;
    height: 2.25rem;
    padding: .375rem;
    border: 2px solid var(--bg-selected-language);
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}

.controls-btn svg,
.translate-btn {
    transition: 250ms;
}

.controls-btn svg {
    color: var(--clr-dim-gray);
}

.controls-btn:hover svg,
.controls-btn:focus-visible svg {
    color: var(--clr-ghost-white);
}

.listening svg {
    color: var(--clr-engineering-orange);
}

.listening:hover svg,
.listening:focus-visible svg {
    color: var(--clr-engineering-orange);
}

.translate-btn {
    padding: .6875rem 1.375rem;
    border: 0;
    border-radius: .75rem;
    background-color: var(--clr-blue-400);
    font-size: 1rem;
}

.translate-btn:hover,
.translate-btn:focus-visible {
    background-color: var(--clr-blue-500);
}

.translate-btn>span {
    display: flex;
    align-items: center;
    color: var(--clr-ghost-white);
}

/* Loader */
.loader {
    display: flex;
    gap: 0.25rem;
    position: absolute;
    top: 100%;
}

.loader div {
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    background: var(--clr-ghost-white);
}

.animate div {
    animation: typingLoader 750ms ease-in-out infinite;
}

.animate div:nth-child(1) {
    animation-delay: 150ms;
}

.animate div:nth-child(2) {
    animation-delay: 300ms;
}

.animate div:nth-child(3) {
    animation-delay: 450ms;
}

@keyframes typingLoader {

    0%,
    60%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-100%);
    }
}

.listen-loader {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    border: 1px solid var(--clr-ghost-white);
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1280px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .container {
        width: auto;
        margin-inline: 1rem;
        padding-inline: 0;
    }
}

@media (max-width: 840px) {
    header {
        padding-block: 1rem;
    }

    .content,
    .translate-header,
    .translate-body,
    .translate-panel {
        border-radius: 0;
    }

    .container,
    .translate-footer {
        margin: 0;
    }

    .content {
        gap: 0;
        flex-wrap: wrap;
        margin-bottom: 2.5rem;
    }

    .translate-container--header,
    .translate-panel {
        background-color: var(--clr-night-o-95);
    }

    .translate-container--body {
        border-top: 1px solid var(--clr-dim-gray);
        gap: 0;
    }

    .translate-panel {
        width: 100%;
        padding: 1rem 0;
        border-radius: 0;
        border: 0;
    }

    .translate-header {
        padding: 0;
        border: 0;
        background-color: transparent !important;
    }

    .translate-header::after {
        border: 0;
    }

    .overflow {
        flex: 1;
        padding: 0;
    }

    .overflow div {
        width: 100%;
    }

    .menu-btn {
        flex: 1;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding-block: 1.2rem;
        border-radius: 0;
        background: transparent !important;
        color: var(--clr-ghost-white) !important;
    }

    .menu-btn:hover,
    .menu-btn:focus-visible,
    .selected {
        color: var(--clr-ash-gray) !important;
    }

    .menu-btn:not(.menu-btn--switch, .sm-show) {
        display: none !important;
    }

    .custom-select {
        width: 100%;
    }

    .dropdown-group {
        padding: 0;
        border: 0;
        border-bottom: 1px solid var(--clr-night);
        border-radius: 0;
    }

    .dropdown {
        padding: 0;
        height: calc(100% - 1.2rem);
    }

    .dropdown>li {
        padding-inline: 2rem;
    }

    .custom-option:first-child {
        display: block;
    }

    .translate-body {
        padding: 0 1.25rem;
        border: 0;
    }

    .translate-text {
        height: 6rem;
        padding: 0;
        padding-right: 2.5rem;
    }

    .character-count {
        right: 1rem;
    }

    .translate-footer {
        padding-inline: 1rem;
    }

    .btn--clear {
        top: 0;
        right: 1rem;
    }
}

@media (max-width: 600px) {
    .dropdown {
        grid-template-columns: 1fr;
    }
}